<div class="password-form">
  <h2>Ajouter un mot de passe</h2>

  <form (ngSubmit)="onSubmit()">
    <!-- Nom du compte -->
    <div class="form-group">
      <label for="accountName">Nom du compte</label>
      <input
        id="accountName"
        formControlName="accountName"
        type="text"
        class="form-control"
      />
      <div class="invalid-feedback">
        Le nom du compte est requis et doit contenir au moins 3 caractères.
      </div>
    </div>

    <!-- Sélecteur d'application -->
    <div class="form-group">
      <label for="application">Application</label>
      <select
        id="application"
        formControlName="application"
        class="form-control"
      >
        <option value="">Sélectionner une application</option>
        <option *ngFor="let app of applications" [value]="app.IdApplication">
          {{ app.Name }}
        </option>
      </select>
      <div
        *ngIf="
          passwordForm.get('application')?.invalid &&
          passwordForm.get('application')?.touched
        "
        class="invalid-feedback"
      >
        Veuillez sélectionner une application.
      </div>
    </div>

    <!-- Sélecteur du type d'application -->
    <div class="form-group">
      <label for="appType">Type d'application</label>
      <select id="appType" formControlName="appType" class="form-control">
        <option value="">Sélectionner le type d'application</option>
        <option *ngFor="let type of applicationTypes" [value]="type">
          {{ type }}
        </option>
      </select>
      <div
        *ngIf="
          passwordForm.get('appType')?.invalid &&
          passwordForm.get('appType')?.touched
        "
        class="invalid-feedback"
      >
        Veuillez sélectionner un type d'application.
      </div>
    </div>

    <!-- Mot de passe -->
    <div class="form-group">
      <label for="password">Mot de passe</label>
      <input
        id="password"
        formControlName="password"
        type="password"
        class="form-control"
      />
      <div class="invalid-feedback">
        Le mot de passe est requis et doit contenir au moins 10 caractères.
      </div>
    </div>

    <!-- Bouton Ajouter -->
    <button type="submit" class="btn btn-primary">Ajouter</button>
  </form>
</div>
